{% extends "base.html" %}
{% load static %}
{% block content %} {% if user.is_authenticated %}
<h1>Expenses</h1>
<hr />
{% if expenses %}
<div class="container-fluid d-flex justify-content-end align-items-center">
    <form class="d-flex" role="search" action="" method="POST">
        {% csrf_token %}
        <input class="form-control active me-2" id="searchField" type="search" name="search" placeholder="Search"
            aria-label="Search">
    </form>
</div>

<div class="container pb-0 mb-0 table1">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sno.</th>
                {% if curency %}
                <th>Amount({{curency}})</th>
                {% else %}
                <th>Amount</th>
                {% endif %}
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in page_obj %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.category}}</td>
                <td>{{ expense.description }}</td>
                <td>{{expense.date}}</td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="{% url 'updateExpense' %}" method="GET">
                                    <button class="btn btn-outline-success btn-sm" name="update" value="{{expense.id}}">
                                        Edit
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-3">
                                <form action="{% url 'deleteExpense' %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger btn-sm" name="delete" value="{{expense.id}}">
                                        X
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-container table2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sno.</th>
                {% if curency %}
                <th>Amount({{curency}})</th>
                {% else %}
                <th>Amount</th>
                {% endif %}
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody class="table2-body">

        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between align-items-center mt-0 pt-0 pageNumbers">
    <span class="text-muted fs-6">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    <ul class="pagination justify-content-end h-25">
        {% if page_obj.has_previous %}
        <li class="page-item h-25 fs-6">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">..</a>
        </li>
        {% else %}
        <li class="page-item h-25 fs-6 disabled">
            <a class="page-link">..</a>
        </li>
        {% endif %} {% for num in page_obj.paginator.page_range %}
        <li class="page-item h-25 fs-6 {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %} {% if page_obj.has_next %}
        <li class="page-item h-25 fs-6">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">..</a>
        </li>
        {% else %}
        <li class="page-item h-25 fs-6 disabled">
            <a class="page-link">..</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endif %} {% else %}
<h1>Login</h1>
{% endif %}
<script>const csrfToken = "{{ csrf_token }}";</script>
<script src="{% static 'js/searchExpenses.js' %}">
</script>
{% endblock content %}