#header {
  background: rgb(52, 76, 100);
  color: rgb(246, 238, 201);
}

.breadcrumbs {
  background: rgb(52, 76, 100);
}

#branding h1 {
  color: rgb(254, 239, 173);
  font-family: "Cairo Play", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#content h1 {
  color: rgb(249, 239, 219);
  font-family: "Roboto Flex";
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

#content-main caption {
  background: rgb(87, 166, 161);
}

.dashboard #content{
    width: 70%;
}
