{% extends "base_auth.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
  <form method="post" class="col-6 mx-auto card p-3 shadow-lg" action="{% url 'resetPassword' %}">
    <h3>Reset Password</h3>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enter your User Name</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="exampleInputPassword1"
        name="username"
        value="{{ fieldValues.username }}"
      />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter your Email address</label>
        <input type="email" class="form-control form-control-sm" name="email" id="useremailField" value="{{ fieldValues.email }}" />
        <div class="emailFeedBackArea" style="display: none;"></div>
        <p class="text-sm text-success useremailSuccessOutput"></p>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control form-control-sm"
        id="exampleInputPassword1"
        name="password1"
      />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control form-control-sm"
          id="exampleInputPassword1"
          name="password2"
        />
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock content %}